 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 120px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 670px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 65px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 257px auto 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  background-image: url("/images/g3eb2fb1332b1cef43281ac5c1203bdf5ab0ae1466b253425940012a5f3edd9a5a0180f92e0f1a52287e324c3c3c5b5679f000722e0c7f799d7e26a5539aa4c95_1280.jpg");
  background-position: 50% 50%;
  min-height: 670px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 96px;
  }

  .u-section-1 .u-image-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 786px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 821px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 279px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-left: 127px;
  }

  .u-section-1 .u-image-1 {
    min-height: 401px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }
}