{%extends 'base.html'%}

{%block content%}

<h1> About</h1>
<div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="235" data-image-height="150" id="sec-115c" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-align-center u-clearfix u-group-elements u-group-elements-1">
        <h1 class="u-text u-text-default u-title u-text-1">ABOUT THE IDEA</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div>
    </section>

{%endblock content%}