{%extends 'base.html'%}
{%load humanize%}


{%block content%}

<section class="u-clearfix u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-section-1" id="carousel_fe85">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h4 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1"> about us</h4>
              <p class="u-text u-text-2">Etiam velit purus, vehicula quis imperdiet dignissim, convallis vitae nisl. Nullam facilisi. Pellentesque non pulvinar justo. Nullam eget neque ut tellus ornare ullamcorper ulla ambco mattis for nulla glavrida egesed!</p>
              <a href="https://nicepage.online" class="u-active-palette-1-light-1 u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-pt-sans u-hover-palette-1-light-1 u-palette-3-base u-radius-0 u-btn-1">START!</a>
            </div>
          </div>
          <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="1280">
            <div class="u-container-layout u-container-layout-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%endblock content%}