
<footer class="u-align-center u-clearfix u-footer u-palette-1-dark-2 u-footer" id="sec-e147">
    <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p></footer>
<section class="u-backlink u-clearfix u-grey-80">
  <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
    <span>HTML Templates</span>
  </a>
  <p class="u-text">
    <span>created with</span>
  </p>
  <a class="u-link" href="https://nicepage.cc" target="_blank">
    <span>Website Builder</span>
  </a>. 
</section>